.modal-form__input {
    margin-bottom: 20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .modal-form__input {
        width: 270px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .modal-form__input {
        width: 170px;
    }
}