.speaker {
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: #f5f5f5;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .speaker {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}