.container {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    max-width: 960px;
}
    
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    
}
    
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    
}
    
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
}