.themes__header {
    font-size: 48px;
    text-transform: uppercase;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .themes__header {
        font-size: 36px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .themes__header {
        font-size: 26px;
    }
}