.event {
    position: relative;
    background-image: url(../images/event_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 125px 0;
    font-size: 36px;
	color: #fefefe;
	text-shadow: 0 2px 6px rgba(0,0,0,.4);
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .event {
        font-size: 30px;
        padding: 100px 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .event {
        font-size: 22px;
        padding: 80px 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .event {
        font-size: 18px;
    }
}