.registration {
    position: relative;
}

label.error {
    position: absolute;
    background-color: #fff;
    color: #d46767;
    font-size: 14px;
    right: 8%;
}

#name-error {
    top: 3.5%;
}

#email-error {
    top: 23.5%;
}

#phone-error {
    top: 42.5%;
}