.header {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #000;
    padding: 40px 0 70px;
    color: #fff;
    text-align: center;
}